<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		{{!-- bootstrap --}}
   		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		{{!-- google font --}}
		<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
		{{!-- custom style sheet --}}
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Eat-Da-Burger!</title>
		{{!-- jQuery --}}
		<script src="https://code.jquery.com/jquery.js"></script>
		{{!-- my JavaScript --}}
		<script src="/assets/js/burgers.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
