body {
  background-color: darkorange;
  font-family: 'Permanent Marker', cursive;
  font-size: larger;
}

ul {
  font-size: larger;
  padding: 5px;
  margin: 5px;
  background-color: white;
  border-color: #209626;
  border-style: solid;
  border-width: 5px;
}

.img-fluid1 {
  height: 75px;
}

.img-fluid2 {
  height: 75px;
}

.btn {
  font-size: larger;
  background-color: #209626;
  border-color: gold;
}
.btn:hover {
  background-color: crimson;
  border-color: gold;
}

#input-area {
  font-size: larger;
}

.form-group {
  font-size: larger;
  margin-bottom: 5px;
  background-color: white;
  border-color: #209626;
  border-style: solid;
  border-width: 5px;
}
